In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None 
# https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas

In [9]:
covid = pd.read_csv("data\covid_deaths_monthly.csv")
covid

,County,County Code,Year,Year Code,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Age Adjusted Rate,Age Adjusted Rate Lower 95% Confidence Interval,Age Adjusted Rate Upper 95% Confidence Interval,Unnamed: 12
0,Autauga County,AL,1001,1999,1999,NaN,42963,NaN,NaN,NaN,NaN,NaN,NaN
1,Autauga County,AL,1001,2000,2000,NaN,43671,NaN,NaN,NaN,NaN,NaN,NaN
2,Autauga County,AL,1001,2001,2001,NaN,44889,NaN,NaN,NaN,NaN,NaN,NaN
3,Autauga County,AL,1001,2002,2002,NaN,45909,NaN,NaN,NaN,NaN,NaN,NaN
4,Autauga County,AL,1001,2003,2003,NaN,46800,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56641,Weston County,WY,56045,2012,2012,NaN,7065,NaN,NaN,NaN,NaN,NaN,NaN
56642,Weston County,WY,56045,2013,2013,NaN,7163,NaN,NaN,NaN,NaN,NaN,NaN
56643,Weston County,WY,56045,2014,2014,NaN,7179,NaN,NaN,NaN,NaN,NaN,NaN
56644,Weston County,WY,56045,2015,2015,NaN,7230,NaN,NaN,NaN,NaN,NaN,NaN
56645,Weston County,WY,56045,2016,2016,NaN,7236,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
covid_mod = covid[covid['Year Code'] > 2004]
covid_mod.drop(covid_mod.columns[[2,4,5,12]], axis=1, inplace=True)
covid_mod.rename(columns={'Year Code':'Month','Crude Rate':'Infection'}, inplace=True)
covid_mod['Month'].replace(2005, 'January', inplace=True)
covid_mod['Month'].replace(2006, 'February', inplace=True)
covid_mod['Month'].replace(2007, 'March', inplace=True)
covid_mod['Month'].replace(2008, 'April', inplace=True)
covid_mod['Month'].replace(2009, 'May', inplace=True)
covid_mod['Month'].replace(2010, 'June', inplace=True)
covid_mod['Month'].replace(2011, 'July', inplace=True)
covid_mod['Month'].replace(2012, 'August', inplace=True)
covid_mod['Month'].replace(2013, 'September', inplace=True)
covid_mod['Month'].replace(2014, 'October', inplace=True)
covid_mod['Month'].replace(2015, 'November', inplace=True)
covid_mod['Month'].replace(2016, 'December', inplace=True)
covid_mod
# covid['Year Code'].max()
# pd.unique(covid['Year Code'])

C:\Python38\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Python38\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Python38\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,County,County Code,Month,Infection,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Age Adjusted Rate,Age Adjusted Rate Lower 95% Confidence Interval,Age Adjusted Rate Upper 95% Confidence Interval
6,Autauga County,AL,January,49676,NaN,NaN,NaN,NaN,NaN
7,Autauga County,AL,2006,51328,NaN,NaN,NaN,NaN,NaN
8,Autauga County,AL,2007,52405,NaN,NaN,NaN,NaN,NaN
9,Autauga County,AL,2008,53277,NaN,NaN,NaN,NaN,NaN
10,Autauga County,AL,2009,54135,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
56641,Weston County,WY,2012,7065,NaN,NaN,NaN,NaN,NaN
56642,Weston County,WY,2013,7163,NaN,NaN,NaN,NaN,NaN
56643,Weston County,WY,2014,7179,NaN,NaN,NaN,NaN,NaN
56644,Weston County,WY,2015,7230,NaN,NaN,NaN,NaN,NaN
56645,Weston County,WY,2016,7236,NaN,NaN,NaN,NaN,NaN