In [1]:
import pandas as pd

In [5]:
covid = pd.read_csv("data\covid_deaths_monthly.csv")
covid['deaths']

,County,County Code,Year,Year Code,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Age Adjusted Rate,Age Adjusted Rate Lower 95% Confidence Interval,Age Adjusted Rate Upper 95% Confidence Interval,Unnamed: 12
0,Autauga County,AL,1001,1999,1999,NaN,42963,NaN,NaN,NaN,NaN,NaN,NaN
1,Autauga County,AL,1001,2000,2000,NaN,43671,NaN,NaN,NaN,NaN,NaN,NaN
2,Autauga County,AL,1001,2001,2001,NaN,44889,NaN,NaN,NaN,NaN,NaN,NaN
3,Autauga County,AL,1001,2002,2002,NaN,45909,NaN,NaN,NaN,NaN,NaN,NaN
4,Autauga County,AL,1001,2003,2003,NaN,46800,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56641,Weston County,WY,56045,2012,2012,NaN,7065,NaN,NaN,NaN,NaN,NaN,NaN
56642,Weston County,WY,56045,2013,2013,NaN,7163,NaN,NaN,NaN,NaN,NaN,NaN
56643,Weston County,WY,56045,2014,2014,NaN,7179,NaN,NaN,NaN,NaN,NaN,NaN
56644,Weston County,WY,56045,2015,2015,NaN,7230,NaN,NaN,NaN,NaN,NaN,NaN
56645,Weston County,WY,56045,2016,2016,NaN,7236,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
covid[covid.line_race != 0]